$colors: (
    umber:(
        100:hsl(30,53,93),
        200:hsl(24,43,93),
        300:hsl(18,46,62),
    ),
    rose:(
        100:hsl(40,69,97),
        200:hsl(0,30,55),
    ),
    green:(
        100:hsl(98, 8, 80),
        200:hsl(113, 5, 61),
        300:hsl(138, 6, 42),
        400:hsl(143, 15, 24),
        500:hsl(150, 100, 5),
    )
)