    @font-face {
    font-family: 'Plantin MT Pro Light';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/PlantinMTProLight.woff') format('woff');
    }

    @font-face {
    font-family: 'Plantin MT Pro Light Italic';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/PlantinMTProLightIt.woff') format('woff');
    }

    @font-face {
        font-family: 'BentonSans-Regular';
        font-style: normal;
        font-weight: 400;
        src: url('fonts/BentonSans-Regular.woff') format('woff');
        }