// lazyload.js
.lazyload,
.lazyloading {
  opacity: 0; }

.loading,
.lazyload,
.lazyloaded,
.image {
  opacity: 1;
  transition: 2.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}


//fullpage.js

div#fp-nav{
  transform:rotate(90deg);
}

div#fp-nav a span {
  background: var(--clr-umber-300) !important;
}

#fv-dots ul li {
  padding: 6px;
}

#fv-dots ul li a span {
  background-color: var(--clr-green-200);
  border-radius: 0;
  transition: all 0.5s ease;
  width: 6px;
  height: 6px;
}

#fv-dots ul a.active span {
  width: 11px;
  height: 11px;
  transform: rotate(45deg);
  background-color: var(--clr-umber-300)!important;
}

body.fp-viewing-fourthPage #fp-nav{
  display:none;
}

#fp-nav.fp-right {
 @include mq(small){
   right: -30px;
 }
}



body.fp-auto-height #fp-nav{
  display:none;
}

@keyframes slide-up {
  from {
    transform:translateY(200%);
    opacity:0;
  }
  to {
    transform:translateY(0%);
    opacity:1;
  }
}


[data-anchor="firstPage"] span.word {
      animation: slide-up 1.5s forwards;
      animation-delay: calc(.2s + (.1s * var(--line-index)));
      opacity:0;
      @keyframes slide-up {
        from {
          transform:translateY(200%);
          opacity:0;
        }
        to {
          transform:translateY(0%);
          opacity:1;
        }
    }
  }

  [data-anchor="firstPage"] .intro__photo { 
    animation: fade-in 3s forwards;
    opacity:0;
    @keyframes fade-in {
      from {
        opacity:0;
      }
      to {
        opacity:1;
      }
  }
  }


  [data-anchor="secondPage"] {
    span.word {
      transform:translateY(150%);
      opacity:0;
      transition: all 1.1s ease-in;
    }
    .podcast__photo img {
      opacity:0;
      transition: all 4s forwards;
    }
}

.fp-viewing-secondPage span.word  {
  animation: slide-up 2s forwards;
  animation-delay: calc(.3s + (.15s * var(--line-index)));
}

.fp-viewing-secondPage .podcast__photo img  {
  opacity:1;
}

[data-anchor="thirdPage"] {
  span.word {
    transform:translateY(200%);
    opacity:0;
    transition: all 1.5s ease-in;
  }
  .client__photo img {
    opacity:0;
    transition: all 2.5s ease-in;
  }
}

.fp-viewing-thirdPage span.word  {
animation: slide-up 2s forwards;
animation-delay: calc(.3s + (.15s * var(--line-index)));
}

.fp-viewing-thirdPage .client__photo img  {
    opacity:1;
  }
  
// .fp-viewing-fourthPage span.word {
//   opacity:1;
//   transform:translateY(0%);
// }

// .fp-viewing-fourthPage .client__photo img  {
//   opacity:1;
// }


// .fp-viewing-fourthPage .client__text {
//   margin-bottom: 0;
// }



// body.profile-open {

// }