/* menu */
header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 6em;
    margin-left: 5em;
    margin-right: 5em;
    svg {
        margin-right: auto;
    }
    @include mq(mid) {
        margin-left: 2em;
        margin-right: 2em;
    }
    @include mq(small) {
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 1em;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

#index {
        header {
            margin-top: 7em;
        }
    }

#logo1 {
    display:block;
    path {
        transition: $default-transition;
    }
    &:hover > path {
        fill:var(--clr-umber-300);
    }
}

#logo2 {display:none}
    
@media all and (max-width: 786px) {
    #logo1 {display: none;}
    #logo2 {display: block;}
    }

    .nav-btn {
        display:none;
        @include mq(small) {
            margin-left: auto;
            display: block;
        }
    }
    
      .nav > .nav-btn > label {
        @include flexCenter(column);
        width: 40px;
        height: 40px;
        padding: 10px;
      }
    

nav {
    margin-left: auto;
    width: 100%;
    z-index: 30;
    @include flexCenter(row);
        a {
        color:var(--clr-green-500);
        @include hover-line();
        }
        @include mq(small) {
        
        #menu-overlay {
        display:block;
        position:fixed;
        top:-52px;
        z-index:20;
        height:100vh;
        width: 100vw;
        background-color: var(--clr-green-500);
        @include flexCenter(column);
        justify-content: center;
        align-items: center;
        transform:scaleY(0);
        transform-origin: bottom;
        opacity: 0;
        transition: all .3s ease-out;
            ul {
                height: 500px;
                @include flexCenter(column);
                justify-content: space-evenly;
                align-items: center;
                transition: all 1.3s ease-out;
                opacity: 0;
            }

            a {
                color: var(--clr-rose-100);
                i {
                    color: var(--clr-rose-100);
                }
            }
        }

            #menu-overlay.active {
                transform: scale(1);
                opacity: 1;
                ul {
                    opacity: 1;
                }
            }
        }
    }

    .dark {
        #logo2,
        #toggleIcon {
            z-index: 30;
        }
        #logo2 path {
            fill:var(--clr-rose-100);
        }
        rect {
            fill:var(--clr-rose-100);
        }
    }
    

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

