#blog-post section.hero__fw,
#client-post section.hero__fw {
overflow: hidden;
padding:0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content:  center;
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include mq (mid){
        height: 100vw;
    }
        @include mq (small){
            height: 75vw;
        }
    }
    
#blog-post .hero {
  background-image: url("../img/katherine.png");
}

#client-post .hero {
    background-image: url("../img/Foto_Hadisa2.png");
  }

.post__body {
  display: flex;
  flex-direction: row;
  padding: 25px 75px 75px 75px ;
  @include font-size($p-header-font-sizes);
  @include mq(mid) { padding: 25px 25px 75px 25px;}
  @include mq(small){
    flex-direction: column;
    padding: 25px;
  }
}
.post__main {
    max-width: 700px;
    margin-right: 50px;
    margin-left: 50px;
    @include mq(mid) {
        max-width: 506px;
        margin-left: 45px;
        margin-right: 10px;
    }
    @include mq(small) {
     margin:0;
  }
    h3 {
      font-family: $sans;
      @include font-size($h3-font-sizes);
      margin: 20px 0 10px 0;
      &:before {
        content: "";
        display: block;
        height: 100px;
        margin: -100px 0 0;
    }
    }
    p {
      @include font-size($p-header-font-sizes);
      margin: 0px 0px 25px;
      a {
        @include font-size($p-header-font-sizes);
        font-family: $serif;
        font-weight: 400;
        font-style: italic;
        color:var(--clr-green-300);
        text-decoration: underline;
      }
    }
    .blockquote{
      padding: 40px 0px;
      @include flexCenter(column);  
      justify-content: center;
      align-items: center;
      font-family: $serif;
    }
    blockquote{   
      @include font-size($h3-font-sizes);
      text-align: center;
    }
    small {
      @include font-size($p-font-sizes);
      color: var(--clr-green-300);
    }
    em {
      font-style: italic;
      font-weight: 600;
    }
    i{
      font-style: italic;
      font-weight: 300;
    }
    img {
      width: 100%;
    }
}
.post__header {
  grid-column: 2 / 3;
  font-family: $sans;
  .post__tags{
    .tag {
      background: #F2E2D7;
      border-radius: 2px;
      padding: 2px 5px;
      font-family: $sans;
      color: var(--clr-umber-300);
    }
  }
  h2 {
    @include font-size($h1-font-sizes);
    margin-top: 30px;
  }
  .post__date {
    color: var(--clr-green-300);
    font-family: $sans;
  }
}
.post__sidenav { 
  max-width: 300px;
  height: 100vh;
  position:sticky;
  position:-webkit-sticky;  
  top: 55px;
  margin-right:40px;
  .card__wrapper {
  h5 {
    font-family: $sans;
    margin-bottom: 15px;
    margin-left: -15px;
    color: var(--clr-umber-300);
  }
  ol {
    @include flexCenter(column);
    align-items: flex-start;
    color: var(--clr-green-300);
    font-family: $sans;
    list-style-type: decimal;
    max-width:230px;
    li {
      margin-top: 5px;
      padding:5px;
      line-height: 1.2;
      a {
        color: var(--clr-green-300);
        transition: $default-transition;
        &:hover{
        color: var(--clr-green-500);
        }
      }
    }
  }
  }

  @include mq(mid) {
    display: none;
  }
} 
#client-post .card__wrapper {
  background-color: hsla(68, 13%, 88%, 1);
  padding: 1.5em;
  border-radius: 10%;
  padding-left: 2em;
  h5 {
    color: var(--clr-green-500);
  }
} 
.post__nav {
    max-width: 200px;
    height: 100vh;
    position:sticky;
    position:-webkit-sticky;  
    top: 55px;
    margin-left:40px;
    a {
      @include hover-line-revers;
      &::after {
      content:url(../img/Vector.svg);
      transform: rotate(180deg);
      left: -15px;
      top:10px;
      border-bottom:0;
      position: absolute;
      }
    }
    @include mq(mid) {
      margin-left:10px;
      min-width: 70px;
    }
    @include mq(small) {
      height: max-content;
      position: unset;
      margin-left:10px;
      margin-bottom: 25px;
    }
}
#client-post .post__nav a,
.post__back {
  color:var(--clr-green-500);
  @include hover-line-revers;
        &::after {
        content:url(../img/green-arrow.svg);
        transform: rotate(180deg);
        left: -15px;
        top:10px;
        border-bottom:0;
        position: absolute;
    }
    @include mq(small) {
      margin-left:10px;
      margin-bottom: 25px;
    }
}

.card__wrapper{
  background: var(--clr-umber-100);
  border-radius: 10px;
  padding: 20px;
  padding-left: 35px;
}

.post__other {
  margin: 0px 340px 100px 200px;
  max-width: 700px;
  padding:25px; 
  .card__wrapper{
    padding: 35px;
  }
  
  h1{
    color:var(--clr-umber-300);
    font-family: $sans;
    @include font-size($p-font-sizes);
    margin-bottom: 10px;
  }
  h3{
    margin-top:15px;
    @include font-size($h3-font-sizes);
  }
  .post__prev {
    color:var(--clr-green-300);
    padding: 25px 0;
  }
  .post__cta {
    color: var(--clr-umber-300);
    @include hover-line-revers;
    &::after {
    content:url(../img/Vector.svg);
    margin-left:10px;
    top:10px;
    border-bottom:0;
    position: absolute;
    }
  }
  @include mq(mid) {
    margin: 0 auto 100px auto;
    max-width: 600px;
  }
  @include mq(small) {
    margin:0;
  }
}