:root {
    @each $color, $shades in $colors {
      @each $shade, $value in $shades {
        --clr-#{$color}-#{$shade}: #{$value};
      }
    }
  
    @each $screen-size, $font-size in $type-scale {
      @if $screen-size == small {
        @each $size, 
        $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      } @else {
         @include mq(small) {
          @each $size, 
          $value in $font-size {
            --fs-#{$size}: #{$value};
          }
         }
      }
    }
  }
  
  @each $color, $shades in $colors {
    @each $shade, $value in $shades{
      .text-#{$color}-#{$shade} {
        color: $value;
      }
      .bg-#{$color}-#{$shade} {
        color: $value;
      }
    }
  }
  
  body {
    background-color: var(--clr-rose-100);
    color:var(--clr-green-500);
    @include fontSmooth;
    font-size: $font-size-base;
    line-height: $leading-base;
    cursor: none;
  }
  