$type-scale:(
    small: (
        300: 1rem,
        400: 1.125rem,
        500: 1.563rem,
        600: 1.953rem,
        700: 2.441rem,
        800: 3.052rem,
    ),
    large: (
        300: 1rem,
        400: 1.425rem,
        500: 2rem,
        600: 2.827rem,
        700: 4rem,
        800: 5.653rem,
    )
);

$p-date-font-sizes: (
  null  : 14px,
  480px : 14px,
  640px : 14px,
  1024px: 14px
);

$p-font-sizes: (
  null  : 16px,
  480px : 16px,
  640px : 16px,
  1024px: 17px
);

$p-header-font-sizes:(
  null  : 18px,
  480px : 18px,
  640px : 20px,
  1024px: 22px
);

$h3-font-sizes:(
  null  : 20px,
  480px : 20px,
  640px : 26px,
  1024px: 28px
);

$intro-font-sizes: (
  null  : 21.5px,
  480px : 21.5px,
  640px : 28px,
  1024px: 32px
);

$h1-font-sizes: (
  null  : 28px,
  480px : 28px,
  640px : 32px,
  1024px: 40px
);

