@import 'reset';
@import 'fonts';
@import 'colors';
@import 'type-scale';
@import 'variables';
@import 'mixins';
@import 'jscss';
@import 'root';
@import 'cards';
@import 'menu';
@import 'post';


.cursors div {
 position: absolute;
 top: 300px;
 left: 300px;
 width:30px;
 height: 30px;
 background-color:rgba(202,207,199, 0.1);
 border-radius: 50%;
 z-index:10000;
 pointer-events: none;
 transform: translate(-50%, -50%);
  &:first-child::before {
    content:url(../img/vector-4.svg);
    margin-left:10px;
    top:10px;
    border-bottom:0;
    position: absolute;
  }
  @include mq(mid) {
    display:none;
  }

}

.fade-out {
  background-color: transparent;
  transition: all .5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.wrapper {
  transform: translate3d(0px, -40px, 0px);
  transition: $default-transition;
    &.cookies {
      transform: translate3d(0px, 25px, 0px);
      @include mq(small) {
        transform: translate3d(0px, 55px, 0px);
      }
  }
}

a {
  text-decoration: none;
  font-family: $sans;
  cursor: none;
}

h1 {
  @include font-size($h1-font-sizes);
  font-family: $sans;
}

p, ul, ol, a {
  @include font-size($p-font-sizes);
}

p {
  font-family: $serif;
}

#index main {
// display: grid;
// grid-template-columns: 1fr;
// grid-template-rows: auto;
  section {
    h2 {
      color:var(--clr-umber-300);
      font-family: $sans;
      @include font-size($p-font-sizes);
    }
    a {
      @include hover-line-revers;
      position:relative;
      font-family: $sans;
      @include font-size($p-font-sizes);
      color:var(--clr-green-500);
      &::after {
      content:url(../img/Vector.svg);
      margin-left:10px;
      top:10px;
      border-bottom:0;
      position: absolute;
      }
      &:hover{
        color:var(--clr-umber-300);
      }
    }
  .content__paragraph {
      font-family: $serif;
      line-height: $line-height-headings;
      padding: $line-height-base 0 $line-height-base *2 0 ; 
      @include font-size($intro-font-sizes);
      @include mq(small){
        padding: $line-height-base 0 $line-height-base  0;
        @include font-size($intro-font-sizes);
      }

  }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    a {
      margin:$line-height-base 45px 3 45px;
    }
  }

}

section {
padding: 0 163px;
  @include mq(mid) {
    padding: 0 53px;
  }
    @include mq(small) {
    padding: 0 25px;
  }
}


.intro,
.podcast-main,
.clients {
height:100%;
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
place-items: center;
overflow: hidden;
  @include mq(mid){
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 0px;
    .intro__text,
    .client__photo{
      margin-top:2em;
    }
  }
  @include mq(small) {
    .intro, .intro__text, .client__photo {
      margin-top:0em;
    }
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.intro,
.podcast-main,
.clients {
  overflow: hidden;
  z-index: -1;
    @include mq(small) {
      @include flexCenter(column);  
      justify-content: flex-start;
  }
}
.podcast-main {
  @include mq(small) {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

.intro__photo,
.client__photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
   img {
     width: 100%;
     animation: fadein 4s;
     @include aspect-ratio(1, 1);
      @include mq(mid) {
        width: 100%;
      }
  }
}

.podcast__photo {
  width: 100%;
  overflow: hidden;
  img {
    width: 80%;
    animation: fadein 4s;
    @include aspect-ratio(1, 1);
     @include mq(mid) {
       width: 100%;
     }
 }
}

.intro__photo,
.podcast__photo,
.client__photo {
  @include mq(small) {
    display: flex;
    align-items: flex-start;
    padding-top:30px;
  }
}



#footer {
font-family: $sans;
background-color: var(--clr-green-500);
color: var(--clr-rose-100);
margin-top:auto;
.footer_wrapper {
  padding: 80px;
  @include mq(small){
    padding: 40px;
  }
}
.fp-tableCell{
  vertical-align: top;
}

.copyright {
  @include flexCenter(row);
  p, a {
    font-size: 14px;
    @include mq(small) {
      line-height: 2;
    }
  }
}
  .contact,
  .socials,
  .back-to-top,
  .copyright {
    padding: $line-height-base;
    @include mq(small) {
      padding:15px;
    }
  }
  a {
    color: var(--clr-rose-100);
    transition: $default-transition;
    &::after {
      width: 100%;
      height: 1px;
      bottom: -3px;
      left: 0;
      background-color:var(--clr-green-200);
      transform-origin: bottom left;
    }
  }
  .socials a {
    padding:15px;  
    .fab{
      transition: $default-transition;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  .copyright a {
    color: var(--clr-green-200);
    line-height: 2;
  }
  .copyright a,
  .back-to-top a,
  .email a {
    @include hover-line-revers;

  }
  .back-to-top a {
    position:relative;
    &::after {
    // content:url(../img/vector-3.svg);
    top:-15px;
    right: 65px;
    border-bottom:0;
    position: absolute;
    }
  }
  @include mq(mid) {
    padding:25px;
  }

}

div.blog,
#footer{
  @include flexCenter(column);
  justify-content: space-around;
  text-align: center;
  p{
    font-family: $sans;
  }
}


/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    margin: 20px 30px;
  }
  .header .menu-nav {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

#consent-popup {
  position:fixed;
  text-align: center;
  top:0;
  left:0;
  right:0;
  padding: 1.5rem;
  opacity:1;
  transition: opacity 2s ease;
  background-color:var(--clr-umber-300);
  color: var(--clr-rose-100);
  z-index: 2;
    a {
      color: var(--clr-rose-100);
      border-bottom: 1px solid var(--clr-rose-100);
      font-size: 16px;
    }
    p {
      font-size: 16px;
      font-family: $sans;
    }
    .close {
      position: relative;
      right: 0px;
      top: 4px;
      padding: 8px;
      width: 22px;
      height: 32px;
      opacity: 0.8;
      border-bottom: none;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 16px;
      width: 1.5px;
      background-color:var(--clr-rose-100);
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }    
    &.hidden {
      opacity: 0;
      transition: all 700ms ease 0s;
      transform: translate3d(0px, -156px, 0px);
    }  
    @include mq(small) {
      p, a {
        font-size: 15px;
      }
      .close {
      padding: 8px;
      position: absolute;
      }
    }
}


#manifesto {
  margin-bottom:0;
  transform: translate3d(0px, 40px, 0px);
  .page__title {
    padding: 70px 0px 0px 0px;
    h2 {
      padding-bottom: 35px;
    }
    }

    h4, h3 {
      font-family: $sans;
      @include font-size($h3-font-sizes);
      margin: 20 0;
    }
    p {
      margin: 10px auto 25px;
      @include font-size($p-header-font-sizes);
    }

  .page__body {
    margin-bottom: 10em;
    h4, p {
      max-width: 659px;
      text-align: center;
      margin: 35px auto;
      @include mq(small) {
        max-width: 276px;
      }
    }
  }

  section.about {
    background-color: var(--clr-umber-300);
    padding: 75px 169px;
    @include mq(small) {
      padding: 0px;
    }
  }
  .about__wrapper {
    max-width: 940px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 95px;
    margin:auto;
    @include mq(small) {
      padding: 20px;
      flex-direction: column;
      gap: 35px;
 
    }
  }
  .about__img {
    margin: 20 0;
    img {
      max-width: 100%;
    }
  }
  .about__text {
    max-width: 440px;
    overflow: hidden;
    p {
      @include font-size($p-header-font-sizes);
    }

    a.expander {
      position: relative;
      margin-right:auto;
      @include hover-line-revers;
          &::before {
            background-color: var(--clr-rose-100);
            bottom: -1px;
          }
          &::after {
          content:url(../img/down-arrow.svg);
          margin-left:10px;
          top:10px;
          border-bottom:0;
          position: absolute;
          }
    }

    a.info-toggle {
      &::after {
        content:url(../img/up-arrow.svg);
        margin-left:10px;
        top:10px;
        border-bottom:0;
        position: absolute;
        }
    }

    .about__open {
      overflow: hidden;
      margin-bottom: 20px;
      @include mq(small) {
      height: 460px;
      }
    }
  }
}

#blog {
  margin-bottom: 5em;
}


