@import 'reset';
@import 'fonts';
@import 'colors';
@import 'type-scale';
@import 'variables';
@import 'mixins';
@import 'jscss';
@import 'root';
@import 'podcast';
@import 'menu';

.wrapper {
  margin: 75px;
  transform: translate3d(0px, -40px, 0px);
  transition: $default-transition;
    &.cookies {
      transform: translate3d(0px, 15px, 0px);
  }
  @include mq(mid) {
    margin:25px;

  }
}

.cursors div {
 position: absolute;
 top: 300px;
 left: 300px;
 width:30px;
 height: 30px;
 background-color:rgba(202,207,199, 0.1);
 border-radius: 50%;
 z-index:10000;
 pointer-events: none;
 transform: translate(-50%, -50%);
 
  &:last-child::before {
    content:url(../img/vector-4.svg);
    margin-left:10px;
    top:10px;
    border-bottom:0;
    position: absolute;
  }
  @include mq(mid) {
    display:none;
  }

}

.fade-in {
  opacity: 0;
  transition: all .5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

a {
  text-decoration: none;
  font-family: $sans;
  cursor: none;
}

h1 {
  @include font-size($h1-font-sizes);
  font-family: $sans;
}

p, ul, ol, a {
  @include font-size($p-font-sizes);
}

main {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;

  h2,
  a {
    color:var(--clr-umber-300);
    font-family: $sans;
    @include font-size($p-font-sizes);
  }
  a {
    @include hover-line-revers;
    position:relative;
    &::after {
    content:url(../img/Vector.svg);
    margin-left:10px;
    top:10px;
    border-bottom:0;
    position: absolute;
    }
  }
  .content__paragraph {
    font-family: $serif;
    line-height: $line-height-headings;
    padding: $line-height-base 0 $line-height-base *2 0 ; 
    @include font-size($intro-font-sizes);
  }


  .active{
    transform: translateY(0%);
    transition: $default-transition;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    a {
      margin:$line-height-base 45px 3 45px;
    }
  }
}

div#fp-nav{
  transform:rotate(90deg);
}

div#fp-nav a span {
  background: var(--clr-umber-300) !important;
}

section {
padding: 0 93px;
  @include mq(mid) {
    padding: 0;
  }
}


.intro,
.clients {
height:100%;
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
place-items: center;
overflow: hidden;
  @include mq(mid){
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 0px;
    .intro__photo,
    .client__text {
      margin-bottom:8em;
    }
    .intro__text,
    .client__photo{
      margin-top:2em;
    }
  }
  @include mq(small) {
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}


.blog,
.clients {
  margin-bottom: 6em;
  overflow: hidden;
  z-index: -1;
    @include mq(small) {
      margin-bottom: 2em;
  }
}

.intro__photo,
.client__photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
   img {
     width: 80%;
     animation: fadein 2s;
     @include aspect-ratio(1, 1);
      @include mq(mid) {
        width: 100%;
      }
  }
}

footer {
padding: 75px;
height:50vh;
font-family: $sans;
background-color: var(--clr-green-500);
color: var(--clr-rose-100);
  a {
    color: var(--clr-rose-100);
    transition: $default-transition;
    &::after {
      width: 100%;
      height: 1px;
      bottom: -3px;
      left: 0;
      background-color:var(--clr-green-200);
      transform-origin: bottom left;
    }
  }
  .socials,
  .date {
    padding-bottom:$line-height-base;
  }
  .socials a {
    padding:15px;  
    .fab{
      transition: $default-transition;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  .copyright a,
  .credits {
    color: var(--clr-green-200);
  }
  .copyright a,
  .back-to-top,
  .email {
    @include hover-line-revers;
  }
  .back-to-top {
    position:relative;
    &::after {
    content:url(../img/vector-3.svg);
    top:-15px;
    right: 65px;
    border-bottom:0;
    position: absolute;
    }
  }
  @include mq(mid) {
    padding:25px;
  }

}

div.blog,
footer{
  @include flexCenter(column);
  justify-content: space-around;
  text-align: center;
}


/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    margin: 20px 30px;
  }
  .header .menu-nav {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

#consent-popup {
  position:fixed;
  text-align: center;
  top:0;
  left:0;
  right:0;
  padding: 1rem;
  opacity:1;
  transition: opacity 2s ease;
  background-color:var(--clr-umber-300);
  color: var(--clr-rose-100);
  font-family: $sans;
  z-index: 2;
    a {
      color: var(--clr-rose-100);
      border-bottom: 1px solid var(--clr-rose-100);
    }
    p {
      font-size: 16px;
    }
    .close {
      position: relative;
      right: 0px;
      top: 4px;
      width: 32px;
      height: 32px;
      opacity: 0.8;
      border-bottom: none;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 16px;
      width: 1px;
      background-color:var(--clr-rose-100);
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }    
    &.hidden {
      opacity: 0;
      transition: all 700ms ease 0s;
      transform: translate3d(0px, -156px, 0px);
    }  
}


